.app__project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.app__project--img {
  flex: 1;
  height: 60%;
  object-fit: cover;
}

.app__project--img img {
  width: 100%;
  height: 100%;
}


.app__project__desc {
  flex: 1;
  background-color: var(--primaryColor);
  padding: 10px;
}

.app__project__desc h4 {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.project--tech {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.project--tech p {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondaryColor);
  background-color: white;
  color: var(--primaryColor);
  padding: 5px 20px;
  border-radius: 50px;
}

.project--link {
  margin-right: 20px;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: center; */
  text-align: center;
}
.project--link img{
  width: 50px;
}
.project--link a:hover {
  animation: fly 1s forwards ease-in;
}

@keyframes fly {
  0%{transform: translate(0);}
  50% {transform: translate(100px, -100px);}
  100%{ transform: translate(-0px, 0px);}
}