.app__projects {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: flex-start;
  justify-items: flex-start;
  white-space: nowrap;
}


.project__container {
  /* width: 100px; */
  cursor: pointer;
  transition: transform 500ms;
  text-transform: capitalize;
}

.project__container:hover {
  transform: translateY(20px)
}

.project__container img {
  width: 75px
}

@media screen and (max-width:600px) {
  .app__projects {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    gap: 30px;
    
    padding: 1rem;
    
    margin-top: 0;
  }
}