:root {
  --bgColor: #415a77;
  --primaryColor: #1b263b;
  --secondaryColor: #0d1b2a;
  --white: #fff;
  --black: #000;

  --deviceHeight: 65vh;
  --deviceWidth: 750px
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
}


#root {
  width: 100%;
  height: 100%;
} 

.app {
  width: 100%;
  height: 100%;
  /* cursor: grabbing; */
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-3000px) perspective(-3000px)
  /* rotateY(45deg); */
}