@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --bgColor: #415a77;
  --primaryColor: #1b263b;
  --secondaryColor: #0d1b2a;
  --btnColor: #16697a;
  --white: #fff;
  --black: #000;

  --deviceHeight: 65vh;
  --deviceWidth: 750px
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  /* background: url('./assets/images/background.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  font-family: 'Raleway';
}


#root {
  width: 100%;
  height: 100%;
} 

.app {
  width: 100%;
  height: 100%;
  /* cursor: grabbing; */
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-3000px) perspective(-3000px);
  -ms-transform: translateZ(-3000px) perspective(-3000px);
  -webkit-transform: translateZ(-3000px) perspective(-3000px);
}


a {
  text-decoration: none;
  color: var(--white)
}

.app::before {
  content: '';
  width: 200px;
  height: 400px;
  position: absolute;
  left: 20%;

  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(2px);
  
  border-radius: 100% 0% 100% 0% / 69% 23% 77% 31% ;
  animation: twist 5s infinite ease;

  transform: rotateX(45deg);
}

.app::after {
  content: '';
  width: 200px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 20%;

  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(2px);
  
  border-radius: 100% 0% 100% 0% / 69% 23% 77% 31% ;
  animation: twist 5s infinite ease;

  transform: rotateX(45deg);
}

/* @keyframes twist {
  0% { transform: rotate(0) translateZ(0) scale(0);}
  100%{ transform: rotate(360deg) translateZ(-1000px) scale(1);}
} */

@media screen and (max-width: 600px) {
  body{
    height: 85vh;
  }
  .app::before, .app::after {
    transform: translateZ(-1000px);
  }
  .app__open-phone {
    display: none;
  }
}

.app__open-phone {

  width: 100%;
  height: 100%;
  position: absolute;

  -ms-perspective: -3000px;
  perspective: 3000px;
  cursor: pointer;
  -moz-transform: rotateX(10deg) translateZ(50px);
  transform: rotateX(10deg) translateZ(-10px);
  z-index: -1;
}